
@model ApplicationUser
@{
    ViewData["Title"] = "Update";
    //var roles = (List<IdentityRole>)ViewData["roles"];
}
    <section class="col-10">

        <div class="card card-signin col-10">
            <div class="card-body">
                <h1 class="bg-info text-white">Update User</h1>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
                <div asp-validation-summary="All" class="text-danger"></div>

                <form asp-action="Update" method="post">



                    <div class="form-group">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>


                    <div class="form-group">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Adresse"></label>
                        <input asp-for="Adresse" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber">Phone Number1</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>




                    <div class="form-group">
                        <label asp-for="PhoneNumber2">Phone Number2</label>
                        <input asp-for="PhoneNumber2" class="form-control" />
                    </div>



                    @*<div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" class="form-control" />
                    </div>*@

                    @*<div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>*@



                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>

        </div>

    </section>


                               
